.App {
  text-align: center;
  /* margin: 20px; */
  background-color: linear-gradient(to left, #0000ff,#d44792);
}

.App:hover {
  background: linear-gradient(to left, #0000ff,#d44792);
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: xx-large;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-color: black;
  border-width: 1px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: black;
  border-width: 1px;
}

.card-content {
  text-align: center;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
  
}

.no-member{
  color: white;
  font-family: sans-serif;
}

.pagination {
  margin-top: 20px;
}

h2 {
  color: white;
  font-family: sans-serif;
}

h1 {
  color: white;
  font-family: sans-serif;
}

.pagination button {
  margin-right: 5px;
  border: none;
  background-color: #f7f7f7;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e1e1e1;
}
